<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">大家可以踊跃的提出希望学习的课程,目前我的计划是录制react + reudx + node.js的课程</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">添加新课程</a>
</div>