<div class="card card-body">
  <h3>想学的课程</h3>
  <form action="/ideas" method="post">
    <div class="form-group">
      <label for="title">标题</label>
      <input type="text" class="form-control" name="title" value="{{title}}">
    </div>
    <div class="form-group">
      <label for="details">详情</label>
      <textarea class="form-control" name="details">{{details}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
  </form>
</div>